<div class="hidden-sidebar">
  <div class="sidebar-section-container">
    <input class="checkbox-section" type="checkbox" name="isRememberStatus" value=""> Remember Me
  </div>

  <a href="/{{userType}}/{{dlsuID}}" target="_self">
    <div class="sidebar-section-container">
      <i class="icon-section fa-solid fa-user"></i> Profile
    </div>
  </a>

  <a href="/{{userType}}/search-users" target="_self">
    <div class="sidebar-section-container">
      <i class="icon-section fa-solid fa-users"></i> Browse Users
    </div>
  </a>


  <a href="/{{userType}}/search-labs" target="_self">
    <div class="sidebar-section-container">
      <i class="icon-section fa-solid fa-laptop"></i> Browse Labs
    </div>
  </a>


  <a href="/{{userType}}/report" target="_self">
    <div class="sidebar-section-container">
      <i class="icon-section fa-solid fa-flag"></i> Report a Problem
    </div>
  </a>

  <a class="no-decor" href="/login" target="_self">
    <div class="sidebar-section-container no-decor" >
      <i class="icon-section fa-solid fa-right-from-bracket"></i> Logout
    </div>
  </a>


</div>
