<script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>

    <section class="lab-slots-browse-section">

      <div class="filter-section">

        <div class="d-flex filter-part-1">
          <div class="d-flex filter-part-1 align-items-center">

            <h2 class="label-custom-1">Search Name: </h2>
            <div class="d-flex align-items-center mx-3">
              <input type="text" id="search-lab-msg-txt">
              <button id="search-lab-msg-btn">Filter</button>
            </div>

          </div>



        </div>




      </div>
      <script id="lab-template" type="text/x-handlebars-template" ></script>
      <h1>\{{labs.0}}</h1>
      <div class="lab-choices-section">

          \{{#each labs}}
          <div class="lab-choice-section">
            <img class="lab-choice-img" src="/pics/computerlab.jpg" alt="computer-lab">
            <div class="lab-choice-details">
              <h3>\{{labName}}</h3>
              <p class="status-text avail-text"><u>\{{labStatus}}</u></p>
              <p>
                <span>Total Seats: </span>
                <span><strong>\{{labAvailSlots}}/\{{labTotalSlots}}</strong></span>
              </p>
              <a class="d-flex lab-choice-btn custom-default-font2" href="reserve-user-lab-view.html">
                <div class="btn btn-success" id="view-btn-\{{labName}}">
                  View
                </div>
              </a>
            </div>
          </div>
          \{{/each}}
      </div>
      </script>


    </section>

