

  <section class="lab-slots-browse-section-2">
    <input type="hidden" id="techIDInput" name="techID" value="{{techID}}">
    <input type="hidden" id="userIDInput" name="userID" value="{{userID}}">
    <input type="hidden" id="labNameInput" name="labName" value="{{labName}}">

    <div class="starting-section-top-text">
      <h1>Student User ID: <span id="userID"><strong>{{userID}}</strong></span></h1>
      <h1>Room: <span id="labName"><strong>{{labName}}</strong></span></h1>
      <h2>Select a Date: </h2>
    </div>

    <div id="weekdaysChoices" class="reservation-next-days">

      <div class="day-container" id="daysContainer">

      </div>

    </div>


    <div id="selectSeatsSection" class="selected-seat-section flex-column">
      <button id="selectSeatButton" class="selected-seat-button" type="button" name="button" >Select a Seat</button>
      <p class="selected-seat-text-section">Selected seat: <strong> <span id="seatNum" class="selected-seat-text">N/A</span> </strong></p>
      <p class="is-anonymous-section">set Anonymous? &nbsp;<input type="checkbox" name="isAnon" value=""> </p>
    </div>

    <div id="timeTableSection" class="time-table-section">
      <!-- Morning Time Slot Table -->
      <table id="morningTable" class="time-table">
        <thead>
          <tr>
            <th class="time-slot-column">Time Slot</th>
            <th class="reserve-check-column">Reserve</th>
            <th class="seat-booked-column">Seat No.</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <!-- Afternoon Time Slot Table -->
      <table id="afternoonTable" class="time-table">
        <thead>
          <tr>
            <th class="time-slot-column">Time Slot</th>
            <th class="reserve-check-column">Reserve</th>
            <th class="seat-booked-column">Seat No.</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <br>

    </div>
    <footer >

      <button class="confirm-reservation-btn custom-button-2" data-toggle="modal" data-target="#confirmationModal">Confirm Reservations</button>



      <a href="LT-user-reserve-student.html" target="_self">
        <button class="cancel-btn arrow-button">Cancel</button>
      </a>

    </footer>

  </section>

  <div id="modalSeats" class="seat-modal">

  </div>



  <div class="confirmed-reservations-message">

  </div>

  <div id="overlay" class="overlay" ></div>


    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Reservation</h5>
                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    Are you sure you want to confirm the following informaiton:<br>
                     <strong>Room: GK302</strong>
                    <table>
                      <thead>
                        <th class="tc">Time slot</th>
                        <th class="tc">Seat number</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tc">
                            7:30-8:00 A.M.
                          </td>
                          <td class="tc">
                            22
                          </td>
                        </tr>

                      </tbody>

                    </table>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <a href="LT-user-reserve-student.html">
                      <button type="button" class="btn btn-primary" onclick="confirmReservation()">Confirm</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
