{{#with room as |room|}}
  {{#with dlsuID as |dlsuID|}}
    <div id="direct-message" name="{{room.roomID}}">

      <div class="direct-message-header">
          <div class="direct-message-header-pic">
            <img src="{{room.roomPic}}" class="direct-message-item">
          </div>
          <div class="direct-message-header-name">
            {{room.roomName}}
          </div>
          <div class="direct-message-header-exit">
            <img src="https://banner2.cleanpng.com/20180426/bae/kisspng-x-mark-computer-icons-check-mark-clip-art-5ae1aac8182a71.821442211524738760099.jpg" class="direct-message-item">
          </div>
      </div>

      <div class="direct-message-body">
        {{#each chats as |chat|}}
          {{#ifEquals chat.dlsuID dlsuID}}
                <div class="direct-message-recieve">
                    <div class="direct-message-body-message">
                        {{chat.message}}
                    </div>
                    <div class="direct-message-body-pic">
                        <img src="{{chat.userpic}}" class="direct-message-item">
                    </div>
                </div>
          {{/ifEquals}}
          {{#ifNotEquals chat.dlsuID dlsuID}}
                <div class="direct-message-send">
                    <div class="direct-message-body-pic">
                        <img src="{{chat.userpic}}" class="direct-message-item">
                    </div>
                    <div class="direct-message-body-message">
                        {{chat.message}}
                    </div>
                </div>
          {{/ifNotEquals}}
        {{/each}}
      </div>

      <div class="direct-message-footer">
          <input id="direct-message-type" type="type">
          <button id="direct-message-type-send">Send</button>
      </div>

    </div>
  {{/with}}
{{/with}}